<div #player class="videoplayer" [ngClass]="getOverlayClass('show-mouse', 'hide-mouse')">
    

    <video #video class="video" [attr.src]="src ? src : null" [attr.autoplay]="autoplay ? true : null" [preload]="preload ? 'auto' : 'metadata'"
        [attr.poster]="poster ? poster : null" [attr.loop]="loop ? loop : null">
        <ng-content select="source"></ng-content>
        <ng-content select="track"></ng-content>
        This browser does not support HTML5 video.
    </video>

    <div class="controls" *ngIf="videoLoaded" [ngClass]="getOverlayClass('visible', 'hidden')">
        <div class="progress">
            <mat-seek-progress-control [color]="red" [video]="video"></mat-seek-progress-control>
        </div>

        <div class="menu">
            <div class="left">
               

                <mat-volume-control ></mat-volume-control>

            </div>

            <div class="right">
            </div>
        </div>
    </div>

    <mat-video-spinner [spinner]="spinner" [video]="video"></mat-video-spinner>
</div>