<mat-sidenav-container class="sidenav-container">
  <!--
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <mat-toolbar color="primary">
      <span class="title">
        Settings
      </span>
      
    </mat-toolbar>
    <div class="content options">
      <mat-form-field class="item-margin" [color]="color">
        <input matInput type="url" [(ngModel)]="src" placeholder="src">
        <mat-hint align="end">Download button will only work for
          <a href="https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy" target="_blank">
            same-origin URLs
          </a>
        </mat-hint>
      </mat-form-field>
      <mat-form-field class="item-margin" [color]="color">
        <input matInput type="url" [(ngModel)]="poster" placeholder="poster">
      </mat-form-field>
      <mat-form-field class="item-margin" [color]="color">
        <input matInput type="text" [(ngModel)]="title" placeholder="title">
      </mat-form-field>

      <div class="item-section">
        <div class="item-margin">Autoplay:</div>
        <mat-slide-toggle [(ngModel)]="autoplay" (change)="vid.load()" [color]="color"></mat-slide-toggle>
      </div>

      <div class="item-section">
        <div class="item-margin">Preload:</div>
        <mat-slide-toggle [(ngModel)]="preload" (change)="vid.load()" [color]="color"></mat-slide-toggle>
      </div>

      <div class="item-section">
        <div class="item-margin">Loop:</div>
        <mat-slide-toggle [(ngModel)]="loop" [color]="color"></mat-slide-toggle>
      </div>

      <div class="item-section">
        <div class="item-margin">Quality:</div>
        <mat-slide-toggle [(ngModel)]="quality" [color]="color"></mat-slide-toggle>
      </div>

      <div class="item-section">
        <div class="item-margin">Download:</div>
        <mat-slide-toggle [(ngModel)]="download" [color]="color"></mat-slide-toggle>
      </div>

      <div class="item-section">
        <div class="item-margin">Fullscreen:</div>
        <mat-slide-toggle [(ngModel)]="fullscreen" [color]="color"></mat-slide-toggle>
      </div>

      <div class="item-section">
        <div class="item-margin">Color:</div>
        <mat-radio-group [(ngModel)]="color">
          <mat-radio-button class="item-margin" value="primary" [color]="color">
            Primary
          </mat-radio-button>
          <mat-radio-button class="item-margin" value="accent" [color]="color">
            Accent
          </mat-radio-button>
          <mat-radio-button class="item-margin" value="warn" [color]="color">
            Warn
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="item-section">
        <div class="item-margin">Spinner:</div>
        <mat-radio-group [(ngModel)]="spinner">
          <mat-radio-button class="item-margin" value="spin" [color]="color">
            Spin
          </mat-radio-button>
          <mat-radio-button class="item-margin" value="dot" [color]="color">
            Dot
          </mat-radio-button>
          <mat-radio-button class="item-margin" value="split-ring" [color]="color">
            Split Ring
          </mat-radio-button>
          <mat-radio-button class="item-margin" value="hourglass" [color]="color">
            Hourglass
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="item-section">
        <div class="item-margin">CSS Examples:</div>
        <mat-radio-group [(ngModel)]="ngclass">
          <mat-radio-button class="item-margin" value="mat-video-responsive" [color]="color">
            Responsive
          </mat-radio-button>
          <mat-radio-button class="item-margin" value="mat-video-fixed" [color]="color">
            Fixed
          </mat-radio-button>
        </mat-radio-group>
      </div>

    </div>

    <div class="mat-toolbar mat-primary mat-toolbar-single-row footer">
      <div class="badges">
        <a href="https://badge.fury.io/js/mat-video" target="_blank">
          <img alt="npm version" src="https://badge.fury.io/js/mat-video.svg">
        </a>
        <a href="https://travis-ci.org/nkoehler/mat-video" target="_blank">
          <img alt="Build Status" src="https://travis-ci.org/nkoehler/mat-video.svg?branch=master">
        </a>
        <a href="https://codeclimate.com/github/nkoehler/mat-video/maintainability" target="_blank">
          <img alt="Maintainability" src="https://api.codeclimate.com/v1/badges/46fb1a751d60d0f8b316/maintainability">
        </a>
      </div>
    </div>
  </mat-sidenav>
-->
  <mat-sidenav-content>
   <mat-toolbar color="primary">
      

      <span class="title">
        <span class="name">aggro1984</span>
      </span>

     
    </mat-toolbar>
  
    <div class="content video">
      <mat-video #vid [ngClass]="ngclass" [src]="src" [title]="title" [autoplay]="autoplay" [preload]="preload" [loop]="loop" [fullscreen]="fullscreen"
        [download]="download" [quality]="quality" [color]="color" [spinner]="spinner" [poster]="poster">
      </mat-video>
      


      
    </div>
 <img src="assets/kurve.PNG" alt="Selfhtml"/>
<!--s
    <div class="mat-toolbar mat-primary mat-toolbar-single-row footer">
      <div class="version">
        Version {{appversion}}
      </div>
      <div class="copyright">
        Nicholas Koehler
        <mat-icon class="icon">copyright</mat-icon> 2018
      </div>
      <div class="license">
        MIT License
      </div>
    </div>
    -->
  </mat-sidenav-content>
</mat-sidenav-container>